* {
  /* Override default margins*/
    --pagedjs-margin-right: 0.4in;
  --pagedjs-margin-left: 0.3in;
  --pagedjs-margin-top: 0.8in;
  --pagedjs-margin-bottom: 0.8in;
  --sidebar-width: 13rem;
  --sidebar-background-color: #F5E9E4;
  --decorator-border: 2px solid #F5E9E4; /* change color and thickness of timeline */
  --background-color: #E3DDE6; /* change color timeline dots */
}

a {
  color: #C4948A
}